.board {
    display: grid;
    grid-template-columns: 100px 100px 00px;
    grid-template-rows: 100px 100px 100px;
    cursor: pointer;
    position: relative;
}

.cell {
    color: currentColor;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
/* these attributes ultimately setup everything within the body (table and title) to center */
    background-color: orange;
}

/* used . because spot is a div class */
.spot {
    color: hotpink;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-border {
    border-right: 0.2em hotpink;
}
.bottom-border {
    border-bottom: 0.2em hotpink;
}

.strike{
    position: absolute;
    background-color: orange;

}
/* currently adding these two classes to establsih the borders of the divs(table) */
